html, body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    background-color: #b0d5e8;
	
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#overlay.active {
	opacity: 1;
	visibility: visible;
}

#popup {
	width: 500px;
	background: #fff;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	z-index: 5;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#popup.active {
	opacity: 1;
	visibility: visible;
}
#popup .close {
	position: absolute;
	top: 0;
	right: 4px;
	cursor: pointer;
}
#popup .close:before {
	font-family: 'FontAwesome';
	content: "\f00d";
}
#popup h3 {
	text-align: center;
	margin: 0 0 8px 0;
}
#popup .desc {
	margin: 0 0 8px 0;
}
#popup ul.options {
	list-style: none;
	margin: 0;
	padding: 0;
}

/** Top **/
#top {
	font-size: 24px;
    padding-top: 5px;
    padding-bottom: 40px;
    background-color: #0b1a28;
    color: white;
}
#current-date {
	position:absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

#menu {
	position: absolute;
	right: 20px;
}
#menu span {
	cursor: pointer;
}
#menu span:before {
	content: "\f0c9";
	font-family: 'FontAwesome';
	margin-right: 5px;
}
#menu.active span:before {
	content: "\f00d";
}
#menu ul {
	position: absolute;
	right: -120px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	list-style: none;
	margin: 0;
}
#menu.active ul {
	right: -16px;
    background-color: #0b1a28;
}
#menu ul li.about {

}
#menu ul li:before {
	font-family: 'FontAwesome';
	position: relative;
	right: 5px;
	top: -3px;
	font-size: 20px;
}
#menu ul li.about:before {
	content: "\f05a";
}
#menu ul li.help:before {
	content: "\f059";
}
#menu ul li.restart:before {
	content: "\f01e";
}
#menu ul a{
	color: white;
}


#history {
	position: absolute;
	padding-left: 20px;
	-webkit-transition: all 0.315s ease-out;
	-moz-transition: all 0.315s ease-out;
	transition: all 0.315s ease-out;
}
#history.active {
	z-index: 5;
    color: black;
}
#history .title {
	cursor: pointer;
	margin-left: 18px;
}
#history .title:before {
	content: "\f1ea";
	font-family: 'FontAwesome';
	position: absolute;
	top: 5px;
	left: 6px;
	-webkit-transition: content 0.3s ease-out;
	-moz-transition: content 0.3s ease-out;
	transition: content 0.3s ease-out;
}
#history.active .title:before {
	content: "\f00d";
	left: 14px;
}
#history .filler {
	background: #fff;
	height: 35px;
	width: 400px;
	position: absolute;
	top: 0;
	left: -410px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: -1;
}
#history.active .filler {
	left: -16px;
}
#history ul {
	position: absolute;
	top: 30px;
	left: -410px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	list-style: none;
	margin: 0;
	width: 400px;
	max-height: 100px;
	overflow-y: scroll;
	padding-top: 8px;
	background: #fff;
}
#history.active ul {
	left: -16px;
}
#history ul li h4 {
	font-size: 18px;
	margin: 2px 0;
}
#history ul li h4:before {
	margin-right: 4px;
	content: "\f058";
	font-family: 'FontAwesome';
	color: green;
}
#history ul li:last-child h4:before {
	content: "\f057";
	color: red;
}
#history ul li div {
	margin-bottom: 12px;
	font-size: 18px;
}

/** Bottom **/

#bottom ul {
	list-style: none;
    display: inline-block;
}
#bottom ul li {
	float: left;
	padding-left: 40px;
    padding-right: 40px;
}
#bottom ul li div {
	display: inline-block;
	position: relative;
}
#bottom ul li div.change:before {
	font-family: 'FontAwesome';
	content: '\f176';
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 50px;
}